<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BankApp</display-name>
	<filter>
		<description>
		</description>
		<display-name>ChangePwdFilter</display-name>
		<filter-name>ChangePwdFilter</filter-name>
		<filter-class>com.abc.bankapp.ChangePwdFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>TransferFilter</display-name>
		<filter-name>TransferFilter</filter-name>
		<filter-class>com.abc.bankapp.TransferFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>ApproveLoanFilter</display-name>
		<filter-name>ApproveLoanFilter</filter-name>
		<filter-class>com.abc.bankapp.ApproveLoanFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ChangePwdFilter</filter-name>
		<url-pattern>/ChangePwdFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ChangePwdFilter</filter-name>
		<servlet-name>ChangePwd</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TransferFilter</filter-name>
		<url-pattern>/TransferFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TransferFilter</filter-name>
		<servlet-name>Transfer</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ApproveLoanFilter</filter-name>
		<url-pattern>/ApproveLoanFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ApproveLoanFilter</filter-name>
		<servlet-name>ApproveLoan</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Model</display-name>
		<servlet-name>Model</servlet-name>
		<servlet-class>com.abc.bankapp.Model</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.abc.bankapp.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckBalance</display-name>
		<servlet-name>CheckBalance</servlet-name>
		<servlet-class>com.abc.bankapp.CheckBalance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePwd</display-name>
		<servlet-name>ChangePwd</servlet-name>
		<servlet-class>com.abc.bankapp.ChangePwd</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transfer</display-name>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>com.abc.bankapp.Transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetStatement</display-name>
		<servlet-name>GetStatement</servlet-name>
		<servlet-class>com.abc.bankapp.GetStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ApproveLoan</display-name>
		<servlet-name>ApproveLoan</servlet-name>
		<servlet-class>com.abc.bankapp.ApproveLoan</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.abc.bankapp.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Model</servlet-name>
		<url-pattern>/Model</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckBalance</servlet-name>
		<url-pattern>/CheckBalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePwd</servlet-name>
		<url-pattern>/ChangePwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStatement</servlet-name>
		<url-pattern>/GetStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApproveLoan</servlet-name>
		<url-pattern>/ApproveLoan</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
